<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container [ngSwitch]="folder">
      <div *ngSwitchCase="'home'">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="login()">
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input [(ngModel)]="username" name="username" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
              </ion-item>
              <ion-button expand="full" type="submit">Login</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </div>
      <div *ngSwitchCase="'products'">
        <div class="card-container">
          <ng-container *ngFor="let card of cards">
            <ion-card class="responsive-card">
              <img [src]="card.img" [alt]="card.title" />
              <ion-card-header>
                <ion-card-title>{{ card.title }}</ion-card-title>
                <ion-card-subtitle>{{ card.subtitle }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{ card.content }}
              </ion-card-content>
            </ion-card>
          </ng-container>
        </div>
      </div>
      <div *ngSwitchCase="'features'">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Features Content</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           
            <div *ngIf="facts">
              <p>Fun Facts:</p>
              <pre>{{ facts | json}}</pre>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div *ngSwitchCase="'contact-us'">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Contact Us</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="mapImage">
              <p>Map Tile:</p>
              <img [src]="mapImage" alt="Map Tile" />
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div *ngSwitchDefault>
        <strong class="capitalize">{{ folder }}</strong>
        <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
      </div>
    </ng-container>
  </div>
</ion-content>
